// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  height: 40px;
  margin-top: 20px;
  width: 160px;
  background-color: #2f79b9;
  border: none;
  border-radius: 3px;
  color: white;
}
